<a href="https://colab.research.google.com/github/ManuelGalvis04/Analisis_de_Datos/blob/main/Database/ANALISIS_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAMOS LIBRERIA⬇️

In [ ]:
import pandas as pd

ABRIMOS EL ARCHIVO⬇️

In [ ]:
titanic = pd.read_csv("titanic.csv")

OBSERVAMOS LA CANTIDAD DE REGISTROS QUE HAY EN CADA COLUMNA⬇️

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Podemos ver la cantidad de datos nulos en cada columna.⬇️

In [ ]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

CANTIDAD DE SOBREVIVENTES

SI--> 1

NO--> 0

⬇️

In [ ]:
titanic['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

CANTIDAD DE PASAJEROS ENTRE HOMBRES Y MUJERES⬇️

In [ ]:
titanic['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

PROMEDIO DE EDAD DE LAS PERSONAS QUE HABIAN EN EL TITANIC⬇️

In [ ]:
titanic['Age'].mean()

29.69911764705882

EDAD MINIMA⬇️

In [ ]:
titanic['Age'].min()

0.42

EDAD MAXIMA⬇️

In [ ]:
titanic['Age'].max()

80.0

PROMEDIO DE EDAD ENTRE MUJERES Y HOMBRES⬇️

In [ ]:
#titanic[('Age', 'Sex')].value_counts()
titanic.groupby('Sex')['Age'].agg(['mean'])

             mean
Sex
female  27.915709
male    30.726645

CANTIDAD DE SOBREVIVIENTES POR EL TIPO DE CLASE⬇️

In [ ]:
Prom_tip_clase = titanic.groupby('Pclass')['Survived'].sum()
Prom_tip_clase

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

DISTRIBUCIÓN DE LA CANTIDAD DE PASAJEROS EN CADA PUERTO DE EMBARQUE

(C = Cherbourg; Q = Queenstown; S = Southampton)

⬇️

In [ ]:
Port_Embarked = titanic.groupby('Embarked')['PassengerId'].agg('count')
Port_Embarked

Embarked
C    168
Q     77
S    644
Name: PassengerId, dtype: int64

In [ ]:
titanic.groupby('Age')['Survived'].agg('count')

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Name: Survived, Length: 88, dtype: int64